<mat-expansion-panel [(expanded)]="pannelExpanded" [hideToggle]="true" class="add-expansion-panel">
  <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'" class="add-expansion-panel-header">
    <mat-panel-title class="title-small add-expansion-panel-title">
      <i class="material-icons">
        add_circle_outline
      </i>
      Add TODO
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="content-expansion-pannel">

    <form [formGroup]="todoFormGroup" fxLayout="column">
      <mat-form-field>
        <input 
        matInput
        placeholder="Title"
        formControlName="titleTodoCtrl"
        maxlength="30"
        required/>
        <mat-error *ngIf="titleTodoCtrl.errors">
          Title cannot be empty
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea 
        matInput
        placeholder="Description"
        formControlName="descriptionTodoCtrl"
        rows="3"
        ></textarea>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="end">
        <app-my-button [text]="'Add'" [disable]="!todoFormGroup.valid" (click)="addTodo()"></app-my-button>
      </div>
    </form>
  </div>
</mat-expansion-panel>