<mat-card>
  <mat-card-header class="title-small">
    TODO
  </mat-card-header>
  <mat-card-content>
    <hr class="line">
    <div *ngFor="let todo of activeTodos" fxLayout="column">
      <app-todo [todo]="todo"></app-todo>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header class="title-small">
    DONE
  </mat-card-header>
  <mat-card-content>
    <hr class="line">
    <div *ngFor="let todo of completeTodos" fxLayout="column">
      <app-todo [todo]="todo"></app-todo>
    </div>
  </mat-card-content>
</mat-card>