@import 'src/app/theme/sass/variables';
@import "src/app/theme/sass/my-theme";

.color-picker {
  margin-right: 10px;
}

.color-picker-icon {
  width: 36px;
  font-size: 30px;
}

.theme-buttons {
  margin: 0 10px;
}

@mixin color-button {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: solid 4px;
  background-color: transparent;
  transition: all .15s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.button {
  &-redlight {
    @include color-button;
    border-color: mat-color($todo-app-redlight, 500);
  }

  &-yellow {
    @include color-button;
    border-color: mat-color($todo-app-yellow, 500);
  }

  &-greenlight {
    @include color-button;
    border-color: mat-color($todo-app-greenlight, 500);
  }
  
  &-cyanlight {
    @include color-button;
    border-color: mat-color($todo-app-cyanlight, 500);
  }

  &-bluelight {
    @include color-button;
    border-color: mat-color($todo-app-bluelight, 500);
  }

  &-purplelight {
    @include color-button;
    border-color: mat-color($todo-app-purplelight, 500);
  }

  &-grey {
    @include color-button;
    border-color: mat-color($todo-app-grey, 500);
  }

  &-reddark {
    @include color-button;
    border-color: mat-color($todo-app-reddark, 500);
  }

  &-orange {
    @include color-button;
    border-color: mat-color($todo-app-orange, 500);
  }

  &-greendark {
    @include color-button;
    border-color: mat-color($todo-app-greendark, 500);
  }
  
  &-cyandark {
    @include color-button;
    border-color: mat-color($todo-app-cyandark, 500);
  }

  &-bluedark {
    @include color-button;
    border-color: mat-color($todo-app-bluedark, 500);
  }

  &-purpledark {
    @include color-button;
    border-color: mat-color($todo-app-purpledark, 500);
  }

  &-black {
    @include color-button;
    border-color: mat-color($todo-app-black, 500);
  }
}

// .mat-menu-content {
//   font-size: $font-size-form;
// }