@import 'src/app/theme/sass/variables';

.error-message {
  color: red;
}

.checkbox-update {
  margin: 0 0 0 30px;
}

.input-update {
  margin: 15px 0 0 30px;
}

.textarea-update {
  @extend .checkbox-update;
}

.material-icons {
  font-size: $font-size-title3;
  line-height: 1.6;
  width: 40px;
}

.mat-card-header {
  margin-left: -35px;
}

span, .header-text {
  margin-left: 10px;
}