@import 'src/app/theme/sass/variables';
@import 'src/app/theme/sass/my-theme.scss';

.add-header {
  justify-content: center;
}

.material-icons {
  font-size: $font-size-title3;
  line-height: 1.6;
  width: 40px;
}

.content-expansion-pannel {
  margin-top: 20px;
  font-size: $font-size-form;
}

.mat-expansion-panel-header-title, .title {
  color: white;
}

.mat-expansion-panel-body {
  background-color: white;
}

form {
  padding: 0 24px 16px;
}