@import 'src/app/theme/sass/variables';

.my-button {
  padding: 0 10px !important;
  font-family: $font-body;
  font-size: $font-size-body;
  transition: all .15s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}