  <div class="color-picker"  fxLayout="row" fxLayoutAlign="start">
    <button mat-button [matMenuTriggerFor]="menu">
      <i class="material-icons color-picker-icon" color="primary">
        color_lens
      </i>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <div fxLayout="column" fxLayoutGap="10px">
      <div class="theme-buttons" fxLayout="row" fxLayoutGap="10px">
        <button mat-button class="button-redlight" (click)="setThemeColor('redlight')"></button>
        <button mat-button class="button-yellow" (click)="setThemeColor('yellow')"></button>
        <button mat-button class="button-greenlight" (click)="setThemeColor('greenlight')"></button>
        <button mat-button class="button-cyanlight" (click)="setThemeColor('cyanlight')"></button>
        <button mat-button class="button-bluelight" (click)="setThemeColor('bluelight')"></button>
        <button mat-button class="button-purplelight" (click)="setThemeColor('purplelight')"></button>
        <button mat-button class="button-grey" (click)="setThemeColor('grey')"></button>
      </div>
      <div class="theme-buttons" fxLayout="row" fxLayoutGap="10px">
        <button mat-button class="button-reddark" (click)="setThemeColor('reddark')"></button>
        <button mat-button class="button-orange" (click)="setThemeColor('orange')"></button>
        <button mat-button class="button-greendark" (click)="setThemeColor('greendark')"></button>
        <button mat-button class="button-cyandark" (click)="setThemeColor('cyandark')"></button>
        <button mat-button class="button-bluedark" (click)="setThemeColor('bluedark')"></button>
        <button mat-button class="button-purpledark" (click)="setThemeColor('purpledark')"></button>
        <button mat-button class="button-black" (click)="setThemeColor('black')"></button>
      </div>
    </div>
  </mat-menu>