
// Fonts
$font-body: 'Saira Semi Condensed', sans-serif;;
$font-size-body: 24px;
$font-title: 'Saira Extra Condensed', sans-serif;
$font-size-title1: 72px;
$font-size-title2: 45px;

// Colors
$color-body: #FFFFFF;