
// Fonts
$font-body: 'Saira Semi Condensed', sans-serif;;
$font-size-body: 24px;
$font-title: 'Saira Extra Condensed', sans-serif;
$font-size-title1: 72px;
$font-size-title2: 45px;
$font-size-title3: 30px;
$font-size-form: 20px;

// Colors
$color-body: #f2fcf2;
$color-primar: #128e14;
$color-second: #0e7210;
$color-third: #0b5b0c;