@import 'src/app/theme/sass/variables';

@import '~@angular/material/theming';
@include mat-core();

// Defines different palettes
$todo-app-warn:                 mat-palette($mat-red); // Default warn value

$todo-app-redlight:             mat-palette($md-redlight);
$todo-app-redlight-accent:      mat-palette($md-redlight, 500, 700, 900);

$todo-app-reddark:              mat-palette($md-reddark);
$todo-app-reddark-accent:       mat-palette($md-reddark, 500, 700, 900);

$todo-app-yellow:               mat-palette($md-yellow);
$todo-app-yellow-accent:        mat-palette($md-yellow, 500, 700, 900);

$todo-app-orange:               mat-palette($md-orange);
$todo-app-orange-accent:        mat-palette($md-orange, 500, 700, 900);

$todo-app-greenlight:           mat-palette($md-greenlight);
$todo-app-greenlight-accent:    mat-palette($md-greenlight, 500, 700, 900);

$todo-app-greendark:            mat-palette($md-greendark);
$todo-app-greendark-accent:     mat-palette($md-greendark, 500, 700, 900);

$todo-app-cyanlight:            mat-palette($md-cyanlight);
$todo-app-cyanlight-accent:     mat-palette($md-cyanlight, 500, 700, 900);

$todo-app-cyandark:             mat-palette($md-cyandark);
$todo-app-cyandark-accent:      mat-palette($md-cyandark, 500, 700, 900);

$todo-app-bluelight:            mat-palette($md-bluelight);
$todo-app-bluelight-accent:     mat-palette($md-bluelight, 500, 700, 900);

$todo-app-bluedark:             mat-palette($md-bluedark);
$todo-app-bluedark-accent:      mat-palette($md-bluedark, 500, 700, 900);

$todo-app-purplelight:          mat-palette($md-purplelight);
$todo-app-purplelight-accent:   mat-palette($md-purplelight, 500, 700, 900);

$todo-app-purpledark:           mat-palette($md-purpledark);
$todo-app-purpledark-accent:    mat-palette($md-purpledark, 500, 700, 900);

$todo-app-grey:                 mat-palette($md-grey);
$todo-app-grey-accent:          mat-palette($md-grey, 500, 700, 900);

$todo-app-black:                mat-palette($md-black);
$todo-app-black-accent:         mat-palette($md-black, 500, 700, 900);

// Defines different themes
$todo-app-theme-redlight: mat-light-theme(
  $todo-app-redlight,
  $todo-app-redlight-accent,
  $todo-app-warn,
);

$todo-app-theme-reddark: mat-light-theme(
  $todo-app-reddark,
  $todo-app-reddark-accent,
  $todo-app-warn,
);

$todo-app-theme-yellow: mat-light-theme(
  $todo-app-yellow,
  $todo-app-yellow-accent,
  $todo-app-warn,
);

$todo-app-theme-orange: mat-light-theme(
  $todo-app-orange,
  $todo-app-orange-accent,
  $todo-app-warn,
);

$todo-app-theme-greenlight: mat-light-theme(
  $todo-app-greenlight,
  $todo-app-greenlight-accent,
  $todo-app-warn,
);

$todo-app-theme-greendark: mat-light-theme(
  $todo-app-greendark,
  $todo-app-greendark-accent,
  $todo-app-warn,
);

$todo-app-theme-cyanlight: mat-light-theme(
  $todo-app-cyanlight,
  $todo-app-cyanlight-accent,
  $todo-app-warn,
);

$todo-app-theme-cyandark: mat-light-theme(
  $todo-app-cyandark,
  $todo-app-cyandark-accent,
  $todo-app-warn,
);

$todo-app-theme-bluelight: mat-light-theme(
  $todo-app-bluelight,
  $todo-app-bluelight-accent,
  $todo-app-warn,
);

$todo-app-theme-bluedark: mat-light-theme(
  $todo-app-bluedark,
  $todo-app-bluedark-accent,
  $todo-app-warn,
);

$todo-app-theme-purplelight: mat-light-theme(
  $todo-app-purplelight,
  $todo-app-purplelight-accent,
  $todo-app-warn,
);

$todo-app-theme-purpledark: mat-light-theme(
  $todo-app-purpledark,
  $todo-app-purpledark-accent,
  $todo-app-warn,
);

$todo-app-theme-grey: mat-light-theme(
  $todo-app-grey,
  $todo-app-grey-accent,
  $todo-app-warn,
);

$todo-app-theme-black: mat-light-theme(
  $todo-app-black,
  $todo-app-black-accent,
  $todo-app-warn,
);

@mixin my-theme-mixin($theme) {
  $primary: map-get(
    $map: $theme,
    $key: primary
  );
  $warn: map-get(
    $map: $theme,
    $key: warn
  );

  .all-app-background {
    background-color: mat-color($primary, 50);
  }

  .header {
    background-color: mat-color($primary, 500);
    color: mat-contrast($primary, 500);
    border-bottom: solid mat-color($primary, 900) 1px;
  }

  .my-button {
    background-color: mat-color($primary, 500);
    color: mat-contrast($primary, 500);
    border: solid mat-color($primary, 900) 1px ;

    &:hover {
      background-color: mat-color($primary, 700);
    }
  }

  .my-invalid-button {
    background-color: mat-color($primary, 500);
    color: mat-contrast($primary, 500);
    border: solid mat-color($primary, 900) 1px ;
  }

  .add-expansion-panel {
    margin: 20px !important;
    border: solid 1px mat-color($primary, 900);
  }
  
  .add-expansion-panel-header {
    background: mat-color($primary, 500) !important;
  
    &:hover {
      background: mat-color($primary, 700) !important;
    }
  }

  .add-expansion-panel-title {
    color: mat-contrast($primary, 500);
  }

  .edit-button { 
    &:hover {
      color: mat-color($primary, 500) !important;
    }
  }

  .delete-button { 
    &:hover {
      color: mat-color($warn, 500) !important;
    }
  }
}