<div mat-dialog-title class="title-medium">
  Transfer
</div>
<div mat-dialog-content>
  <form [formGroup]="transferFormGroup" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field fxFlex="90">
        <textarea 
        matInput
        placeholder="Import"
        formControlName="importCtrl"
        rows="4"
        ></textarea>
      </mat-form-field>
      <div>
        <button mat-button class="button-icon">
          <i class="material-icons-outlined popup-icon" color="primary">
            archive
          </i>
        </button>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="90">
          <textarea 
          matInput
          placeholder="Export"
          formControlName="exportCtrl"
          rows="4"
          #exportText
          ></textarea>
        </mat-form-field>
        <div>
          <button mat-button class="button-icon" (click)="copyExportText(exportText)">
            <i class="material-icons-outlined popup-icon" color="primary">
              file_copy
            </i>
          </button>
        </div>
      </div>
  </form>
</div>