@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'app/theme/sass/variables';

/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: $font-body;
  font-size: $font-size-body;
  background-color: $color-body;
  // font-weight: 300;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color:$color-body;
}

%font-title {
  font-family: $font-title;
}

.title {
  &-big {
    @extend %font-title;
    font-weight: 700;
    font-size: $font-size-title1;
  }

  &-medium {
    @extend %font-title;
    font-weight: 600;
    font-size: $font-size-title2;
    margin-top: -30px !important;
  }

  &-small {
    @extend %font-title;
    font-weight: 600;
    font-size: $font-size-title3;
  }
}

.content {
  display: block;
  max-width: 750px;
  margin: auto;
  margin-top: 35px;
  background-color: $color-body;
}


.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

// ----------------------------------- MATERIAL ----------------------------------- // 

.mat-card {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.4), 0 1px 1px 0 rgba(0,0,0,.32), 0 1px 3px 0 rgba(0,0,0,.28) !important;
  margin: 20px;
}

.mat-card-content, .mat-checkbox {
  font-size: $font-size-body;
  font-family: $font-body;
}

.mat-card-content {
  padding-left:20px;
}

