@import 'app/theme/sass/variables';
@import 'src/app/theme/sass/my-theme';

/* You can add global styles to this file, and also import other style files */

.todo-app-theme-redlight {
  $theme: $todo-app-theme-redlight;
  @include angular-material-theme($theme);
  @include my-theme-mixin($theme)
}

.todo-app-theme-reddark {
  $theme: $todo-app-theme-reddark;
  @include angular-material-theme($theme);
  @include my-theme-mixin($theme)
}

.todo-app-theme-yellow {
  $theme: $todo-app-theme-yellow;
  @include angular-material-theme($theme);
  @include my-theme-mixin($theme)
}

.todo-app-theme-orange {
  $theme: $todo-app-theme-orange;
  @include angular-material-theme($theme);
  @include my-theme-mixin($theme)
}

.todo-app-theme-greenlight {
  $theme: $todo-app-theme-greenlight;
  @include angular-material-theme($theme);
  @include my-theme-mixin($theme)
}

.todo-app-theme-greendark {
  $theme: $todo-app-theme-greendark;
  @include angular-material-theme($theme);
  @include my-theme-mixin($theme)
}

.todo-app-theme-cyanlight {
  $theme: $todo-app-theme-cyanlight;
  @include angular-material-theme($theme);
  @include my-theme-mixin($theme)
}

.todo-app-theme-cyandark {
  $theme: $todo-app-theme-cyandark;
  @include angular-material-theme($theme);
  @include my-theme-mixin($theme)
}

.todo-app-theme-bluelight {
  $theme: $todo-app-theme-bluelight;
  @include angular-material-theme($theme);
  @include my-theme-mixin($theme)
}

.todo-app-theme-bluedark {
  $theme: $todo-app-theme-bluedark;
  @include angular-material-theme($theme);
  @include my-theme-mixin($theme)
}

.todo-app-theme-purplelight {
  $theme: $todo-app-theme-purplelight;
  @include angular-material-theme($theme);
  @include my-theme-mixin($theme)
}

.todo-app-theme-purpledark {
  $theme: $todo-app-theme-purpledark;
  @include angular-material-theme($theme);
  @include my-theme-mixin($theme)
}

.todo-app-theme-grey {
  $theme: $todo-app-theme-grey;
  @include angular-material-theme($theme);
  @include my-theme-mixin($theme)
}

.todo-app-theme-black {
  $theme: $todo-app-theme-black;
  @include angular-material-theme($theme);
  @include my-theme-mixin($theme)
}

html, body {
  height:100%;
}

body {
  margin: 0;
  font-family: $font-body;
  font-size: $font-size-body;
  // background-color: mat-color($todo-app-green, 50);
}

app-root {
  min-height: 100%
}


%font-title {
  font-family: $font-title;
}

.title {
  &-big {
    @extend %font-title;
    font-weight: 700;
    font-size: $font-size-title1;
  }

  &-medium {
    @extend %font-title;
    font-weight: 600;
    font-size: $font-size-title2;
    margin-top: -30px !important;
  }

  &-small {
    @extend %font-title;
    font-weight: 600;
    font-size: $font-size-title3;
  }
}

.content {
  display: block;
  max-width: 750px;
  margin: auto;
  margin-top: 5px;
}

p {
  margin: 0 0 0 30px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

hr.line {
  opacity: 0.3;
}

.previous-button {
  transition: all .15s ease-in-out;
  opacity: 0.6;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.8;
  }
}

// ----------------------------------- MATERIAL ----------------------------------- // 

// ------ Material card ------
.mat-card {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.4), 0 1px 1px 0 rgba(0,0,0,.32), 0 1px 3px 0 rgba(0,0,0,.28) !important;
  margin: 20px;
}

.mat-card-content, .mat-checkbox {
  font-size: $font-size-body;
  font-family: $font-body;
}

// ------ Mat checkbox ------
.mat-checkbox-disabled .mat-checkbox-label {
  color: black;
}

// ------ Mat button ------
.mat-button {
  padding: 0 !important;
  min-width: 1% !important;
  margin:auto;
}

.mat-button .mat-button-focus-overlay {
  background-color: transparent;
}

// ------ Mat expansion panel ------

.mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0 0 10px 0 !important;
}

// ------ Mat snack bar ------

.snack-bar-custom .mat-button {
  width: 30px;
}