
<form [formGroup]="todoFormGroup">
  <div fxLayout="row">
    <div fxFlex="85">
      <mat-checkbox formControlName="stateTodoCtrl">
        <div [ngClass]="{'strike-text': isTodosComplete}">
          {{ todo.title }}
        </div>
      </mat-checkbox>
    </div>
    <button mat-button (click)="showTodoDetail()" fxFlex="5">
      <i class="material-icons edit-button">
        remove_red_eye
      </i>
    </button>
    <button mat-button (click)="showTodoUpdate()" fxFlex="5">
      <i class="material-icons detail-button">
        edit
      </i>
    </button>
    <button mat-button (click)="deleteTodo()" fxFlex="5">
      <i class="material-icons delete-button">
        delete
      </i>
    </button>
  </div>
</form>
