@import 'src/app/theme/sass/variables';

.strike-text {
  text-decoration: line-through;
}

.edit-button {
  transition: all .2s ease-in-out;
}

.edit-button:hover {
  color: $color-primar !important;
  transform: scale(1.15);
}